#https://stackoverflow.com/questions/45400361/why-is-gitignore-not-ignoring-my-files

*.*~
desplegament.txt
llegir.txt
llegir_oauth_google.txt
llegir_oauth_google_js.txt

captures_pantalla/
SQL/bd_extres.txt
SQL/bdquest_v9.mwb
SQL/control_errors.log
SQL/esquema_bdquest_v8.png
SQL/load_v1.sql
SQL/load_v2.sql
SQL/load_v3.sql
SQL/load_v4.sql
SQL/load_v5.sql
SQL/load_v6.sql
SQL/load_v7.sql
SQL/load_v8.sql
SQL/load_v9.sql

web/v1
web/v2
web/v3
web/v4
web/v5
web/v6
web/v7
web/v8
web/v9
web/v10/*.*~
web/v10/php/*.*~
web/v10/php/.pwd
web/v10/js/*.*~
web/v10/css/*.*~
