body {
	font-family: "Arial","Lucida Console";
}

pre {
	font-family: "Lucida Console", "Courier New", monospace;
	padding: 10px;
	background-color: #cccccc;
}

div.login{
	position: absolute;
	left: 140px;
	top: 20px;
	float:right;
}

#rubrica{
	/* background-color: #A53030; */
	padding: 8px;
	font-size: 30px;
}

#sqloutput{
	/* background-color: #aaaaaa; */
	padding: 8px;
}

div.diagrama{
	/* background-color: #aaaaaa; */
	position: fixed;
	left: 600px;
	top: 20px;
	float:right;
	z-index:-1;
}

h3#questio{
	background-color: #ccccff;
	width: 580px;
}

div#solucio{
	background-color: #eeeeee;
	width: 580px;
}

div#sqloutput{
	/* background-color: #eeeeee; */
	width: 580px;
}

table {
  color: #333;
  background: white;
  border: 1px solid grey;
  font-size: 12pt;
  border-collapse: collapse;
}
table thead th,
table tfoot th {
  color: #777;
  font-weight: bold;
  background: rgba(0,0,0,.1);
}
table caption {
  padding:.5em;
}
table th,
table td {
  padding: .5em;
  border: 1px solid lightgrey;
}